/* Write your global styles here, in PostCSS syntax */

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  color-scheme: light dark;
  font-family: Addis;
  margin: 0 auto;
  text-align: center;
}
@media (prefers-color-scheme: light) {
  #app {
    color: #213547;
    background-color: #ffffff;
  }
}

@layer base {
  @font-face {
    font-family: "Addis";
    src: url("./assets/Addis.ttf");
  }
}
