/* Write your global styles here, in PostCSS syntax */

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  color-scheme: light dark;
  font-family: Addis;
  margin: 0 auto;
  text-align: center;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(252, 176, 69, 1) 100%
  );
}

@layer base {
  @font-face {
    font-family: "Addis";
    src: url("./assets/Addis.ttf");
  }
}
